* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #333232;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


li {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}
li:hover {
    cursor: pointer;
    background-color: #523304;
    color: white;
}

.text-box {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.row {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

#cat-list {
    float: left;
    list-style: none;
    width: 25%;
}

#cat {
    float: left;
    position: relative;
    width: 75%;
}

img {
  max-width: 100%;
}

#info {
    position: absolute;
    background-color: #ffffff4d;
    border-radius: 5px;
    width: 100%;
    color: black;
    height: 20%;
    font-weight: 600px;
    float: left;
}

header {
    text-decoration: underline;
}
